* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, serif;
}

body {
  background: #fff;
  color: white;
  background: url(/images/background.png) no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.clearfix {
  clear: both;
}

#main {
  width: 960px;
  min-height: 800px;
}

#logo {
  position: absolute;
  left: 60px;
  top: 19px;
}

#header {
  height: 100px;
}

#navigation {
  float: left;
  margin: 33px 0 0 240px;
}

#navigation li {
  float: left;
  list-style: none;
  margin-left: 50px;
  font-size: 24px;
  padding-bottom: 5px;
}

#navigation li:hover, #navigation li.selected {
  border-bottom: 3px solid #F3A536;
}
#navigation li.entrance {
  background: url(/images/entrance.png) 12px 32px no-repeat;
  padding-bottom: 10px;
}
#navigation li.entrance:hover {
  background-image: url(/images/entrance-hover.png);
  border-bottom: none;
}

#content {
  padding: 60px 0 0 60px;
  font-size: 18px;
  font-weight: bold;
}
.index {
  width: 680px;
  margin: 0 auto;
}
.index span.brand {
  font-size: 32px;
}

.index .slogan {
  margin: 26px 0;
  font-weight: normal;
}
.index #apply-to-join {
  background: url(/images/apply.png) no-repeat;
  height: 60px;
  display: block;
  margin-top: 30px;
}
.index #apply-to-join:hover {
  background: url(/images/apply-hover.png) no-repeat;
}
.about-us h2{
  font-size: 32px;
}
.about-us h3{
  font-size: 26px;
  margin: 20px 0;
}
.about-us p{
  font-size: 16px;
}
.cases .main{
  width: 600px;
  float: left;
}
.cases .main .case, .cases .main .case-title {
  margin-bottom: 30px;
}
.cases .main .case-brief {
  font-size: 14px;
}
.cases .sidebar {
  width: 200px;
  float: right;
}
.cases .sidebar .list li {
  list-style: none;
  font-size: 14px;
  margin: 15px 0;
}
.faq .item, .faq .item h2 {
  margin-bottom: 30px;
}
.faq .item p {
  font-size: 14px;
}
